<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/register.js"></script>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/doRegister" method="post">
      <input type="hidden" id="facebook_id" name="facebook_id">
      <input type="text" name="username" id="username">
      <input type="password" name="password" id="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
